.block, .footer {
    width: 80%; 
     margin: 0px auto
}
.header, .title, .wrapper {
    width: 65%;
}

.header {
    border-bottom: 1px solid #828282;
    display: flex; justify-content: space-between;
    height: 55px;
    margin: 32px auto 0px;
}

.title {
    margin: 40px auto 0px;
    display: flex; justify-content: space-between;
}

.denis {
    font-family: Gilroy-Bold;
font-size: 47.3392px;
line-height: 59px;
}

.ux {
    font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px; margin-top: 52px;
}

.ru {width: 68px; height: 17px;
    transform: rotate(-90deg);
}

.chel {
    width: 65%;
    margin: 30px auto 105px;
}

.cheliq {
    width: 100%;
}

.block.second {
    height: 506px; 
    display: flex; justify-content: center; align-items: center;
}
.aboutme {
display: flex; flex-direction: column; justify-content: space-between;
width: 486px; height: 218px;
}
.title2 , .text {
    text-align: center; color: #070707;

}

.title2 {
    font-family: Gilroy-Bold;
font-size: 34px;
line-height: 42px;
}

.text {
    font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
}

.block.third { height: 610px;
}

.title3 {
    margin: 91px auto 0px;
    width: 228px; height: 120px;
    display: flex; flex-direction: column; justify-content: space-between;
    text-align: center;
}
.skills {
    font-family: Gilroy-Bold;
font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
}

.iwork {
    font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #070707;
}

.wrapper {
    margin: 83px auto; display: flex; justify-content: space-between;
}

.block.fourth {
    display: flex;
    flex-direction: column; align-items: center; justify-content: space-between;
    height: 2253px;

}
.portfolio {
    font-family: Gilroy-Bold;
font-size: 34px;
line-height: 42px;
text-align: center;
color: #070707;
margin-top: 92px;
}

.photo {
    width: 65%; margin-top: 99px;
}

.photo2 {
    width: 100%;
}

.text2 {
    font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
text-align: center;
text-decoration-line: underline;
color: #070707;
}
.text2.last {
    margin-bottom: 96px;
}

.footer {
    height: 622px;
}

.contacts {
    display: flex; flex-direction: column; align-items: center;
    margin: 155px auto 0px;
    width: 276px;
    text-align: center;
}

.contacts2 {
    font-family: Gilroy-Bold;
font-size: 34px;
line-height: 42px;
color: #070707;
}

.want {
    font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
color: #070707;
margin-top: 20px;
}

.send {
    display: flex; align-items: center; justify-content: center;
    background-color: black;
    width: 180.5px; height: 42px;
    border-radius: 20px;
    font-family: Gilroy-Bold;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
margin-top: 30px;
}

.social {
    margin: 85px auto 0px;
    width: 343px; height: 41px;
    display: flex; justify-content: space-between;
}

.text3 {
    margin: 46px auto 123px;
    text-align: center;
    width: 243px;
    font-family: Gilroy-Medium;
font-size: 14px;
line-height: 17px;
text-align: center;

color: #828282;
}

















































